p {
  font-weight: 500;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}

#buddyGoalCard .card-title {
  font-size: 1.2em;
  font-weight: 700 !important;
  color: var(--darkBlue) !important;
  background-color: transparent !important;
}

#buddyGoalCard .card .card-content {
  text-align: left;
  background: none;
  padding: 12px;
}

#buddyGoalCard .card .card-content .modal-content {
  text-align: center;
  background: none;
  padding: 12px;
}

#buddyGoalCard .card .card-action {
  padding: 12px 0 6px 10px;
}

#buddyGoalCard .btn-small {
  background-color: var(--darkBlue) !important;
}
