p {
  font-weight: 500;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}

#buddyGoalCard .card-title {
  font-size: 1.2em;
  font-weight: 700 !important;
  color: var(--darkBlue) !important;
  background-color: transparent !important;
}

#buddyGoalCard .card .card-content {
  text-align: left;
  background: none;
  padding: 12px;
}

#buddyGoalCard .card .card-content .modal-content {
  text-align: center;
  background: none;
  padding: 12px;
}

#buddyGoalCard .card .card-action {
  padding: 12px 0 6px 10px;
}

#buddyGoalCard .joinGoalBtn {
  background-color: var(--darkBlue) !important;
}

.followBtn_BuddyCard {
  background-color: var(--accentGold) !important;
  margin-left: 8px;
}

.buddyCardBtnDiv {
  display: flex !important;
  justify-content: left !important;
}

i.left {
  margin-right: 5px !important;
}
