@import url("https://fonts.googleapis.com/css?family=Voces&display=swap");

:root {
  --accentGold: #daae37;
  --darkGold: #b18c25;
  --darkBlue: #102a46;
  --blue: #224366;
  --lightBlue: #2867aa;
}

::-webkit-scrollbar {
  width: 18px;
  height: 18px;
}

::-webkit-scrollbar-track {
  border-left: 1px dashed var(--accentGold);
}

::-webkit-scrollbar-thumb {
  background: var(--accentGold);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--darkGold);
}

html,
body {
  background: #eeeeee !important;
}

a {
  color: var(--lightBlue);
  transition: all 0.1s ease-in-out 0s;
}

a:hover {
  color: var(--accentGold);
  transition: all 0.1s ease-in-out 0s;
}

hr {
  height: 2px;
  background-color: var(--accentGold) !important;
  border-color: var(--accentGold) !important;
}

input:focus {
  border-bottom: 1px solid var(--accentGold) !important;
  box-shadow: 0 1px 0 0 var(--accentGold) !important;
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
  display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: var(--darkBlue);
}

/* A few custom styles for date inputs */
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  color: #95a5a6;
  border: 1px solid #ecf0f1;
  background: #ecf0f1;
  padding: 5px;
  display: inline-block !important;
  visibility: visible !important;
}

input[type="date"],
focus {
  color: var(--darkBlue);
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.loading {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toast {
  background-color: var(--darkGold) !important;
}

.hero-image {
  background: -webkit-linear-gradient(
    -90deg,
    rgba(16, 42, 70, 1) 0%,
    rgba(56, 90, 124, 1) 100%
  );
  min-height: 225px;
}

.brandedText {
  color: var(--darkBlue);
  font-weight: 600;
  border-bottom: 1px dashed var(--accentGold);
}

.btn-blue {
  background-color: var(--blue) !important;
  color: #fff !important;
}

.btn-darkBlue {
  background-color: var(--darkBlue);
  color: #fff;
}

.btn-gold {
  background-color: var(--accentGold);
  color: #fff;
}

.btn-blueO {
  background-color: transparent !important;
  color: var(--blue) !important;
  border: 1px solid var(--blue) !important;
}

.btn-darkBlueO {
  background-color: transparent !important;
  color: var(--darkBlue);
  border: 1px solid var(--darkBlue);
}

.btn-goldO {
  background-color: transparent;
  color: var(--darkGold);
  border: 1px solid var(--accentGold);
}

.modal-content h4 {
  text-align: center;
}

.modalTitle {
  color: var(--darkBlue);
  border-bottom: 1px dashed var(--accentGold);
}

@media (max-width: 768px) {
  .profileContainer {
    width: 100%;
    background: none;
  }
  .welcomeMessage {
    top: 45%;
    left: 20%;
  }

  .nextArrow {
    height: 95px;
  }

  .nextArrow > span {
    position: relative;
    bottom: 50px;
    left: 125px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    font-size: 80px;
    color: var(--accentGold) !important;
  }
}
