#joinGoalModal .modal {
  width: 60%;
  height: 100%;
  border: 3px solid var(--accentGold);
}

#joinGoalModal .modal .modal-footer {
  padding: 5px 10px;
}

#joinGoalModal .modal .modal-footer .submit {
  background-color: var(--darkBlue) !important;
}

.labelForSelect {
  position: relative;
  bottom: 7px;
  color: white;
  padding: 5px 10px;
  background-color: var(--darkBlue);
  border-radius: 5px;
  margin-bottom: 10px;
}
