:root {
  --accentGold: #d4ac0d !important;
  --darkBlue: #1c2833;
}

.joinGoal {
  color: var(--darkBlue);
  font-weight: 600;
  border-bottom: 1px dashed var(--accentGold);
}

#joinGoalModal .modal {
  width: 65%;
  height: 125%;
}
