body {
  background: #eeeeee !important;
}

#noBuddies {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  padding: 5px 10px;
}

#findBuddies_dashboard {
  color: var(--darkBlue);
  font-weight: bold;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#findBuddies_dashboard .material-icons {
  position: relative;
  top: 4px;
  font-size: 1.2em;
  font-weight: bold;
}

#findBuddies_dashboard:hover {
  color: var(--accentGold);
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nextArrow {
  height: 200px;
  line-height: 200px;
  text-align: center;
}
.nextArrow > span {
  padding-right: 30px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  scale: 1;
  font-size: 60px;
  color: var(--accentGold) !important;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nextArrow > span:hover {
  cursor: pointer;
  color: #212121;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

@media only screen and (max-width: 600px) {
  .nextArrow > span {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-left: 245px;
    margin-top: -100px;
    font-size: 80px;
    color: var(--accentGold);
  }
}

.hero-image {
  background: -webkit-linear-gradient(
    -90deg,
    rgba(16, 42, 70, 1) 0%,
    rgba(56, 90, 124, 1) 100%
  );
  min-height: 225px;
}

.nextArrow {
  height: 200px;
  line-height: 200px;
  text-align: center;
}
.nextArrow > span {
  padding-right: 30px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  scale: 1;
  font-size: 60px;
  color: var(--accentGold) !important;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.nextArrow > span:hover {
  cursor: pointer;
  color: #212121;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
@media only screen and (max-width: 600px) {
  .nextArrow > span {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-left: 245px;
    margin-top: -100px;
    font-size: 80px;
    color: var(--accentGold) !important;
  }
}
