.dashboardContainer {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.noBuddies {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  padding: 5px 10px;
}

.findBuddies_Dashboard {
  color: var(--darkBlue);
  font-weight: bold;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.findBuddies_dashboard .material-icons {
  position: relative;
  top: 4px;
  font-size: 1.2em;
  font-weight: bold;
}

.findBuddies_Dashboard:hover {
  color: var(--accentGold);
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nextArrow {
  height: 200px;
  line-height: 200px;
  text-align: center;
}

.nextArrow span {
  padding-right: 30px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  scale: 1;
  font-size: 60px;
  color: var(--accentGold);
}

.nextArrow span:hover {
  cursor: pointer;
  color: var(--blue) !important;
  -moz-transition: all 0.1s ease-in-out 0s;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
