#currentGoal-row {
  display: flex;
  justify-content: space-evenly;
}

#pastGoal-row {
  display: flex;
  justify-content: space-evenly;
}

.goal-overview-card .card-content {
  background-color: whitesmoke;
  height: 500px;
}

.past-overview-card .card-content {
  background-color: whitesmoke;
  height: 625px;
}

.goal-overview-card {
  margin-top: 5% !important;
  background-color: whitesmoke !important;
}

.overview-goal {
  background-color: #10355f !important;
}

.overview-goal .card-content {
  height: 18rem;
  width: 16rem;
  background-color: #10355f;
  text-align: center;
}
.overview-goal .card-title {
  background-color: #10355f;
  border: none;
  text-align: center;
}

.goal-overview-p {
  margin-bottom: 2rem !important;
}
