/* #currentGoal-row {
  display: flex;
  justify-content: space-evenly;
} */

#pastGoal-row {
  display: flex;
  justify-content: space-evenly;
}

.goal-overview-card .card-content {
  background-color: whitesmoke;
  height: 500px;
  padding-top: 0 !important;
}

.past-overview-card .card-content {
  background-color: whitesmoke;
  height: 625px;
}

.goal-overview-card {
  margin-top: 5% !important;
  background-color: whitesmoke !important;
}

.overview-goal {
  background-color: var(--blue) !important;
}

.overview-goal .card-content {
  height: 20rem;
  width: 16rem;
  max-height: 20rem;
  width: 18rem;
  background-color: var(--blue) !important;
  background-color: var(--blue) !important;
  text-align: center;
  text-align: center;
}

.overview-goal .card-title {
  background-color: var(--blue) !important;
  border: none;
  text-align: center;
}

.goal-overview-p {
  margin-bottom: 2rem !important;
}

.searchGoalBtn,
.searchDatesBtn {
  background-color: var(--blue) !important;
}

.input-field label.active {
  color: #9e9e9e !important;
}

#pastGoal-row .card {
  opacity: 0.95 !important;
}

input:focus {
  border-bottom: 1px solid var(--accentGold) !important;
  box-shadow: 0 1px 0 0 var(--accentGold) !important;
}

.past-overview-card {
  background-color: whitesmoke !important;
}

.past-overview-card .card-content {
  padding-top: 0 !important;
}

.delete-goal-overview {
  color: white;
  text-align: end;
  cursor: pointer;
  margin-top: 0.75rem;
  margin-right: 0.75rem;
  font-size: 1.85rem;
}

.delete-goal-overview:hover {
  color: white;
  transform: scale(1.1);
}

.completeGoal-button-overview {
  color: var(--accentGold);
  cursor: pointer;
  font-size: 1.85rem;
}

.completeGoal-button-overview:hover {
  transform: scale(1.1);
}

#confirmModal {
  padding: 0px;
  width: 0px;
  margin: 0px;
}

.viewGoalDetail_GoalPage:hover {
  transform: scale(1.1);
}

.delete_GoalPage:hover {
  transform: scale(1.1);
  color: white;
}

.pastView-home-button {
  color: var(--blue);
  font-size: 2.95rem;
  cursor: pointer;
  margin: 10px 0px 0px 10px;
}

.pastView-home-button:hover {
  transform: scale(1.1);
}
