.modal-goal-name {
  display: inline-block;
  color: white;
  margin-right: 8rem;
}
.modal-goal-category {
  color: white;
}

.modal-milestone-content {
  background: var(--blue);
  color: var(--accentGold);
}

.modal-goal-dueDate {
  display: inline-block;
  margin-left: 4rem;
  color: white;
}

.modal-milestone-card {
  color: var(--darkBlue);
}

.modal-milestone-card {
  color: var(--darkBlue);
  background: white;
}

.modal-milestone-frequency {
  display: inline-block;
  margin-right: 1rem !important;
}

.modal-milestone-dueDate {
  display: inline-block;
  margin-left: 2rem !important;
}

/* .checkbox-column {
  margin-top: 5rem;
} */

.modal-milestone-status {
  display: inline-block;
  margin-left: 2rem !important;
}

.modal-milestone-status span {
  font-style: italic;
  font-weight: 700;
}

.modal-milestone-complete {
  display: inline-block;
  margin-top: 1rem;
  padding-top: 1rem;
}

.milestone-sub-header {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
}

.checkbox-column,
.switch {
  text-align: right;
  margin-top: 2.25rem;
}

.milestone-save-btn {
  margin-left: 1rem;
  background: var(--accentGold) !important;
}

.milestone-cancel-btn {
  background: var(--accentGold) !important;
}

.milestoneFormAddBtn {
  background: var(--blue) !important;
  margin-left: 10px !important;
}

.milestone-notes-column {
  margin-top: 2.25rem;
}
