.card-scrollable-content {
  max-height: 150px;
  overflow: auto;
}

.card-panel .truncate:hover {
  cursor: pointer;
  opacity: 0.7;
}

.card-panel {
  padding: 15px !important;
}

.goal-due-alert {
  text-align: right;
  color: red;
  margin: 0;
}

.alert-goal-dueDate {
  color: red;
}

.goalCard {
  min-height: 200px;
  background: var(--blue) !important;
  border-radius: 0px !important;
}

.goalCard .card-content {
  background-color: var(--blue);
  padding: 0px 20px 10px 20px !important;
}

.goalCardTitle {
  font-family: "Voces", sans-serif;
  color: #fff;
  letter-spacing: 1px;
  background-color: var(--blue);
  border-bottom: solid 1px var(--accentGold);
  min-height: 45px;
}

.category-title {
  position: relative;
  top: 6px;
  left: 20px;
}

.categoryIcon {
  position: relative;
  top: 2px;
  left: 5px;
  color: var(--accentGold);
}
