.goalCard {
  max-height: 200px;
}

.card-scrollable-content {
  max-height: 150px;
  overflow: auto;
}

.card-panel > .truncate:hover {
  cursor: pointer;
  opacity: 0.7;
}

.goal-card-name {
  text-align: left;
}

.goal-due-alert {
  text-align: right;
  color: red;
  margin: 0;
}

.alert-goal-dueDate {
  color: red;
}
