.goal-page-title {
  text-align: center;
}

.goal-page-dueDate {
  text-align: left;
}
.goal-page-privacy {
  text-align: right;
}

.goal-page-progressBar {
  display: inline-block;
  width: 25rem;
}
.goal-page-sub-header {
  display: flex;
  justify-content: space-between;
}

.goal-page-upcomingView {
  display: flex;
  justify-content: space-around;
}
