.goal-page-card {
  background-color: var(--blue);
}
.goal-page-cardTitle {
  background-color: var(--blue);
}
.goal-page-title {
  text-align: center;
  margin: 10px 0 0 0 !important;
}
.goal-page-dueDate {
  text-align: left;
}
.goal-page-privacy {
  display: inline-block;
  text-align: right;
}
.goal-page-progressBar {
  display: inline-block;
  width: 25rem;
}
.goal-page-sub-header {
  display: flex;
  justify-content: space-between;
}
.goal-page-upcomingView {
  display: flex;
  justify-content: space-around;
}
/* .goal-privacy-checkbox {
  display: inline-block;
  margin-bottom: 2rem;
} */
/* .goal-page-progressBar {
  display: flex;
  justify-content: center;
} */
.switch label input[type="checkbox"]:checked + .lever {
  background-color: var(--accentGold) !important;
}
.switch label input[type="checkbox"]:checked + .lever::after {
  background-color: white !important;
}
.milestone-image {
  height: 100%;
  width: 100%;
  border-radius: 0;
}
#goalCard {
  text-align: center;
  margin-top: 3%;
  width: 95%;
  display: inline-block;
  background-color: var(--blue);
}
.nextGoalArrow {
  height: 200px;
  line-height: 200px;
  text-align: center;
  margin-top: 20%;
  cursor: pointer;
}
.nextGoalArrow > span {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  scale: 1;
  font-size: 60px;
  color: var(--accentGold) !important;
}
.day-card-controls:hover {
  transform: scale(1.05);
}

.followers-body {
  overflow: scroll;
  height: 100px;
  max-height: 150px;
}

.follower-link {
  text-decoration: none;
  color: var(--blue);
}

.follower-link:hover {
  color: var(--darkBlue);
}

.goal-edit-button {
  margin-left: "3px";
  cursor: "pointer";
  font-size: 33px;
  color: var(--accentGold);
}

.goal-page-upcomingView {
  width: 100% !important;
}

.followerChip {
  background-color: var(--accentGold) !important;
}

.followerChip a {
  color: white !important;
}
