.disabled {
  background-color: #e9ecef;
  opacity: 1;
}

.modalTitle {
  color: var(--darkBlue);
  border-bottom: 1px dashed var(--accentGold);
}

.completeProfileBtn {
  background-color: var(--blue) !important;
}

.container-profile {
  padding: 20px;
}
