.fileUpload {
  margin-top: 10px;
}

.fileDropDiv {
  width: 80%;
  height: 150px;
  border: 1px dashed var(--accentGold);
  padding: 25px 10px 30px 10px;
  text-align: center;
  color: var(--blue);
  background: #eee;
  border-radius: 10px;
}

.fileDropDiv > i {
  font-size: 50px;
}
