body {
  background-color: white;
}

.contact-card {
  background-color: #f5f5f5 !important;
}
.den-title {
  color: #d4ac0d;
}
#team {
  font-family: "Anton", sans-serif;
  background-color: #f5f5f5;
  margin-bottom: 50px;
  font-size: 20px;
}

#contact {
  font-family: "Anton", sans-serif;
  background-color: #f5f5f5 !important;
  margin-bottom: 50px;
  font-size: 20px;
}

.card-image {
  border-radius: 50%;
  overflow: hidden;
}

hr {
  border: 0.5px solid !important;
}

.signUp {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #34495e !important;
  color: #d4ac0d !important;
}
.login {
  margin-top: 10px;
  margin-right: 30px;
  margin-left: 10px;
  background-color: #34495e !important;
  color: #d4ac0d !important;
}
.people {
  max-width: 100%;
  max-height: auto;
  filter: brightness(0.7);
}

.parallax-container {
  min-height: 300px;
}

.home-text {
  font-size: 20px;
  color: black;
  word-wrap: break-word;
}
.team-text {
  margin-left: 20px;
}
.text2 {
  font-family: "Anton", sans-serif;
  font-size: 20px;
  color: White;
}

#title {
  font-family: "Anton", sans-serif;
  font-size: 90px;
  color: white;
}

.summary {
  font-family: "Anton", sans-serif;
  color: white;
  font-size: 22px;
}

.bridge {
  filter: brightness(0.8);
}

#quote {
  margin-bottom: 250px;
}

#purposeTitle {
  font-family: "Anton", sans-serif;
}
.home-buttons {
  background-color: #34495e !important;
  color: #d4ac0d !important;
}
.hr {
  background-color: #d4ac0d;
  color: #d4ac0d;
}
