.confirm-modal-footer {
  display: flex;
  justify-content: left;
}

#confirmModal {
  width: 50%;
  color: black;
}

#confirmModal .btn {
  margin: 0 10px 10px 10px !important;
}

#confirmModal .deleteBtn {
  background-color: var(--blue) !important;
}
