.buddyList .deleteBuddy {
  color: white !important;
  cursor: pointer;
  font-size: 10px !important;
  margin: 5px;
  padding: 0px 10px !important;
}

.leaveGoalBtn:hover {
  background-color: var(--blue) !important;
}
