:root {
  --accentGold: #d4ac0d !important;
  --darkBlueTwo: #34495e !important;
}

p {
  font-weight: 500;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}
.buddy-pair {
  min-height: 15rem;
}
#buddiesPage h1 {
  font-family: Anton, sans-serif;
  color: var(--darkBlueTwo);
}
.match-button {
  color: var(--accentGold) !important;
  background-color: #34495e !important;
}

#buddiesPage input:focus {
  border-bottom: 1px solid #ffb300 !important;
  box-shadow: 0 1px 0 0 #ffb300 !important;
}

#buddiesPage label.active {
  color: #212121;
}

#search {
  background-color: transparent;
}

#buddiesPage .input-field .searchBtn,
#buddiesPage .input-field .searchBtn:focus,
#buddiesPage .input-field .searchBtn:hover,
#buddiesPage .input-field .searchBtn:active {
  background-color: #34495e;
  color: var(--accentGold);
}

#buddiesPage .card .card-content,
#buddiesPage .card .card-title {
  background: none;
  border: none;
}

#buddiesPage .card .card-action {
  padding: 16px 0px;
}

#buddiesPage .findBuddy {
  background-color: #34495e;
  color: var(--accentGold);
}
