:root {
  --accentGold: #e8a246;
  --darkBlue: #10355f;
}

p {
  font-weight: 500;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}

#buddiesPage h1 {
  font-family: Anton, sans-serif;
  color: var(--darkBlue);
}

#buddiesPage input:focus {
  border-bottom: 1px solid #ffb300 !important;
  box-shadow: 0 1px 0 0 #ffb300 !important;
}

#buddiesPage label.active {
  color: #212121;
}

#search {
  background-color: transparent;
}

#buddiesPage .input-field .searchBtn,
#buddiesPage .input-field .searchBtn:focus,
#buddiesPage .input-field .searchBtn:hover,
#buddiesPage .input-field .searchBtn:active {
  background-color: var(--darkBlue);
}

#buddiesPage .card .card-content,
#buddiesPage .card .card-title {
  background: none;
  border: none;
}

#buddiesPage .card .card-action {
  padding: 16px 0px;
}

#buddiesPage .findBuddy {
  background-color: var(--darkBlue);
}
