.milestones-body {
  background-color: whitesmoke;
  height: 24rem;
  overflow: scroll;
}
.followers-body {
  background-color: whitesmoke;
}
.milestones-card-title {
  text-align: center;
  background-color: #34495e;
  color: #d4ac0d;
}
.milestones-card {
  background-color: #d4ac0d;
}
.milestones-card-body {
  background-color: #34495e;
  height: 15rem;
  max-height: 15rem;
  overflow: scroll;
}
.milestones-card-footer {
  background-color: #d4ac0d !important;
  color: #34495e;
  display: flex;
  justify-content: space-between;
}
.milestones-card-button {
  background-color: #34495e;
  color: #d4ac0d;
}
.chip:hover {
  transform: scale(1.05);
}
