.milestones-body {
  background-color: whitesmoke;
  height: 24rem;
  overflow: scroll;
}
.followers-body {
  background-color: whitesmoke;
}
.milestones-card-title {
  text-align: center;
  color: white;
}
.milestones-card {
  background-color: var(--accentGold);
}
.milestones-card-body {
  background-color: var(--blue);
  min-height: 15rem;
  max-height: 15rem;
  overflow: scroll;
}
.milestones-card-footer {
  background-color: var(--accentGold) !important;
  display: flex;
  justify-content: space-between;
}
.milestones-card-button {
  background-color: var(--blue) !important;
  color: white !important;
}
.chip:hover {
  transform: scale(1.05);
}

.milestonesListHeader {
  color: var(--blue) !important;
}
