.milestones-body {
  background-color: whitesmoke;
  height: 24rem;
  overflow: scroll;
}

.followers-body {
  background-color: whitesmoke;
}

.milestones-card-title {
  text-align: center;
  background-color: #10355f;
  color: #e2e77d;
}

.milestones-card {
  background-color: #e2e77d;
}

.milestones-card-body {
  background-color: #10355f;
  height: 15rem;
  max-height: 15rem;
  overflow: scroll;
}

.milestones-card-footer {
  background-color: #e2e77d !important;
  color: #10355f;
  display: flex;
  justify-content: space-between;
}

.milestones-card-button {
  background-color: #10355f;
  color: #e2e77d;
}

.chip:hover {
  transform: scale(1.05);
}
