.day-card {
  height: 25rem;
  width: 18rem;
  padding: 0px;
}

.day-card-content {
  height: 15rem;
}

.day-card-date {
  font-size: 1rem;
  text-align: center;
  border-bottom: 3px solid #1a237e;
}

.day-card-add {
  text-align: right;
  margin: 0px;
  padding: 0px;
}

.day-card-icon {
  color: #e2e77d;
}

.day-card-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.day-card-buttons {
  display: flex;
  justify-content: space-between;
}
/* 
.day-card-todo {
  border: 4px solid #1a237e;
} */
