.profileContainer {
  padding: 40px 0 0 0;
}
.profilePic {
  width: 100%;
}

.topRow {
  height: 80px;
}
.container-profile {
  background-color: #f5f5f5;
  box-shadow: 2px 2px 3px 3px rgb(202, 201, 201);
}
.profile-pic {
  /* margin-left: 10px; */
  margin-top: 25px;
}
/* .profileName {
  margin-left: 10px;
} */
