.profileContainer {
  background: white;
  margin-top: 20px !important;
  padding: 24px !important;
  border: 5px;
  width: 70%;
  margin: 20px auto 10px auto;
}

.profileContainer h5 {
  position: relative;
  right: 13px;
}

.profilePic {
  position: relative;
  right: 13px;
  width: 80%;
  border: 1px solid var(--accentGold);
}
