.day-event-item {
  background: var(--accentGold);
  border-radius: 7px;
  text-align: center;
  margin: 5px 0 5px 0;
}
.day-card-todo {
  width: 180px;
  max-width: 180px;
  padding: 2px;
}

li.day-event-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.day-event-item:hover {
  cursor: pointer;
  transform: scale(1.05);
}
