.buddyList .material-icons {
  font-size: 2.4em;
  color: var(--accentGold);
  -moz-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.buddyList .connectingArrow {
  transform: rotate(45deg) !important;
}

.buddyList .buddyGoal {
  width: 85%;
}

.buddyList .userGoal {
  position: relative;
  top: -8px;
  font-weight: normal;
}
