:root {
  --accentGold: #d4ac0d !important;
  --darkBlue: #1c2833;
}

#buddiesList .material-icons {
  font-size: 2.4em;
  color: var(--accentGold);
}

#buddiesList .material-icons {
  font-size: 2.4em;
  color: var(--accentGold);
  -moz-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

#buddiesList .material-icons:hover {
  transform: scale(1.1);
  font-size: 2.4em;
  color: var(--darkBlue);
  -moz-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.w3-bar .w3-bar-item {
  padding: 2px 16px;
}

.w3-ul li {
  padding: 10px 16px;
  border-bottom: 1px solid var(--accentGold);
}

.w3-ul {
  margin-top: 10px;
  background-color: white;
}

.w3-right {
  margin-top: 10px;
}

.w3-bar-item {
  margin-top: 0px;
}

.w3-large {
  position: relative;
  top: 10px;
}

.w3-card-4,
.w3-hover-shadow:hover {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
}
