.userMessage {
  width: 100%;
}

.buddyMessage {
  width: 100%;
}

.userMessage p {
  background-color: #5cb85c;
  border-radius: 15%;
}

.buddyMessage p {
  background-color: lightgray;
  border-radius: 15%;
}
