.userMessage {
  width: 50%;
  float: right;
  margin-right: 10px;
}

#meIndicator {
  padding: 5px 13px 2px 0;
  margin: 0px;
  font-size: 12px;
  color: gray;
  font-style: italic;
  position: relative;
  top: 0px;
  z-index: inherit;
}

#buddyIndicator {
  padding: 5px 0 2px 13px;
  margin: 0px;
  font-size: 12px;
  color: gray;
  font-style: italic;
  position: relative;
  top: 0px;
  z-index: inherit;
}

.buddyMessage {
  width: 50%;
  float: left;
  margin-left: 10px;
}

.userMessage p {
  background-color: #dfbe3b;
  border-radius: 17px;
  padding: 5px 8px;
  height: 34px;
}

.buddyMessage p {
  background-color: var(--darkBlue);
  color: white;
  border-radius: 17px;
  padding: 5px 8px;
  height: 34px;
}
