nav {
  font-family: "Voces", sans-serif;
  background-color: var(--darkBlue) !important;
  box-shadow: none !important;
  background-color: none;
  text-transform: none;
  cursor: pointer;
  color: var(--accentGold) !important;
  margin-right: 10px;
  -moz-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

nav .nav-wrapper {
  cursor: auto !important;
}

.welcomeMessage {
  padding: 0 10px 5px 10px;
  background-color: var(--darkBlue);
  position: relative;
  color: white;
  top: 28px;
  left: 0px;
  border-bottom: 1px solid var(--accentGold);
}

nav ul a:hover {
  background: none !important;
  cursor: pointer;
  transform: scale(1.1) rotate(-4deg);
  -moz-transition: all 0.1s ease-in-out 0s;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}

nav ul .active {
  transform: scale(1.1) rotate(-4deg);
  color: var(--accentGold);
  font-weight: bold;
}

nav .btn {
  line-height: 0px !important;
  font-size: 1rem;
  background-color: var(--darkBlue);
}

nav .brand-logo {
  margin-left: 10px;
}

nav .brand-logo:hover {
  font-weight: 600;
}

nav .brand-logo .goal {
  color: white;
}

nav .brand-logo .den {
  color: var(--accentGold);
}

nav .logout,
nav .login {
  background-color: none;
  text-transform: none;
  cursor: pointer;
  color: var(--accentGold);
  margin-right: 10px;
  border: 2px solid var(--accentGold);
  -moz-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

nav .logout:hover,
nav .login:hover {
  background-color: var(--darkBlue) !important;
  cursor: pointer;
  color: white;
  border: 2px solid white;
  transform: rotate(3deg);
  -moz-transition: all 0.1s ease-in-out 0s;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}

nav .logoutMobile,
nav .loginMobile {
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
  cursor: pointer;
}

nav .logoutMobile:hover,
nav .loginMobile:hover {
  color: var(--accentGold);
  background-color: rgba(0, 0, 0, 0.87);
}

nav ul a:hover {
  background: black;
  color: var(--accentGold);
}

.sidenav {
  box-shadow: none !important;
  background-color: transparent !important;
  background: -webkit-linear-gradient(
    -45deg,
    rgba(238, 191, 61, 0.95) 30%,
    rgba(236, 190, 61, 0.25) 75%,
    rgba(218, 174, 55, 0) 100%
  );
}

.sidenav li:hover {
  background-color: var(--darkBlue) !important;
  color: white;
}

.sidenav li a:hover {
  color: white;
}
